<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{judul}}</title>
</head>
<body>
    {{> header}} <!-- Menyertakan header -->
    
    <div class="main-content">
        <img class="portrait" src="/css/img/pp_wa.png" alt="Foto Profil"> 
        <p>Dikembangkan oleh {{nama}}</p> 
    </div>

    {{> footer}} <!-- Menyertakan footer -->
</body>
</html>
