<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Bantuan</title> <!-- Menambahkan judul halaman -->
</head>
<body>
    {{> header}} <!-- Menyertakan header -->
    
    <div class="main-content">
        <h1>Bantuan Apa yang Anda Butuhkan?</h1>
        <p>{{teksBantuan}}</p>  
    </div>

    {{> footer}} <!-- Menyertakan footer -->
</body>
</html>
